@font-face {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  src: url('/public/fonts/ZenKakuGothicAntique-Black.ttf') format('ttf');
}

@font-face {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  src: url('/public/fonts/ZenKakuGothicAntique-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  src: url('/public/fonts/ZenKakuGothicAntique-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  src: url('/public/fonts/ZenKakuGothicAntique-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  src: url('/public/fonts/ZenKakuGothicAntique-Regular.ttf') format('ttf');
}
