<form action="/books/<%= book.id %>/?_method=PUT", method="POST">
  <h2>Edit Book</h2>
  <%- include('../partials/errorMessage') %>
  <div class="flex-column-20">
    <%- include('./_form_fields', { authors: authors }) %>
    <div class="buttons-wrapper">
      <button type="submit" class="button">Edit book</button>
      <a href="/books" class="button button--danger">Cancel</a>
    </div>
  </div>
</form>
