<form action="/books", method="POST">
  <%- include('../partials/pageTitle', { pageTitle: 'New Book' }) %>
  <%- include('../partials/errorMessage') %>
  <%- include('./_form_fields') %>
  <a href="/books">Cancel</a>
  <button type="submit">Add Book</button>
</form>
