<footer class="footer">
  <div class="footer__nav">
    <a 
      class="foouter__link" 
      href="https://github.com/kurtkobein?tab=repositories"
    >
      © Copyright by Andrii Hokage
    </a>
  </div>
</footer>
