<header class="header">
  <nav class="nav">
    <a href="/" class="nav__logo nav__link">Bukrary</a>
    <ul class="nav__list">
      <li class="nav__link"><a href="/authors">Authors</a></li>
      <li class="nav__link"><a href="/authors/new">Add Author</a></li>
      <li class="nav__link"><a href="/books">Books</a></li>
      <li class="nav__link"><a href="/books/new">Add Book</a></li>
    </ul>
  </nav>
</header>
