<h2 class="page-title">Recently Added</h2>
<div class="cards-container">
  <% books.forEach(book => { %>
    <a href="/books/<%= book.id %>" class="card">
      <img class="card__image" src="<%= book.coverImagePath %>" alt="Alt" height="200px">
      <h3 class="card__title"><%= book.title %></h3>
    </a>
  <% }) %>
</div>