.nav {
  display: flex;
  justify-content: space-between;
  color: #000;

  &__logo {
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    gap: 10px;
  }

  &__link {
    &:hover {
      color: #708090;
    }
  }
}