@font-face {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  src: url("/public/fonts/ZenKakuGothicAntique-Black.ttf") format("ttf");
}
@font-face {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  src: url("/public/fonts/ZenKakuGothicAntique-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  src: url("/public/fonts/ZenKakuGothicAntique-Light.ttf") format("ttf");
}
@font-face {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  src: url("/public/fonts/ZenKakuGothicAntique-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  src: url("/public/fonts/ZenKakuGothicAntique-Regular.ttf") format("ttf");
}
body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
a:link {
  color: inherit;
}
a:visited {
  color: inherit;
}
a:hover {
  color: inherit;
}
a:active {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 960px;
  min-height: calc(100vh - 92px - 40px);
}

header {
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  padding: 15px calc((100% - 960px) / 2);
}

.nav {
  display: flex;
  justify-content: space-between;
  color: #000;
}
.nav__logo {
  text-transform: uppercase;
}
.nav__list {
  display: flex;
  gap: 10px;
}
.nav__link:hover {
  color: #708090;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.form__indent {
  margin-bottom: 20px;
}

.fields-group {
  display: flex;
  gap: 20px;
}
.fields-group__column {
  display: inherit;
  flex-direction: column;
}
.fields-group--cover {
  gap: 20px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 184px);
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
  align-items: center;
  border: 1px solid #d1d5db;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 13px;
  overflow: hidden;
  transition: transform 0.3s;
}
.card:hover {
  transform: scale(1.05);
  background-color: #f9fafb;
}
.card--authors {
  align-items: flex-start;
}
.card__title {
  font-size: 16px;
}
.card__title--authors {
  margin-bottom: 10px;
}
.card__image {
  object-fit: contain;
  margin-bottom: 10px;
}
.card__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card__last-info-field {
  margin-bottom: 10px;
}

.page-title {
  margin-bottom: 20px;
}

.button {
  display: block;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border: 1px solid #d1d5db;
  border-radius: 3px;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1rem;
  padding: 0.5rem;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.05);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-align: center;
  width: max-content;
  min-width: 75px;
}
.button:hover {
  background-color: #f9fafb;
}
.button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.button--danger {
  background-color: #e05050;
}
.button--danger:hover {
  background-color: #d40000;
}

.buttons-wrapper {
  display: flex;
  width: 100%;
  gap: 5px;
}

.input {
  box-sizing: border-box;
  background-color: #FFFFFF;
  border: 1px solid #d1d5db;
  border-radius: 3px;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1rem;
  padding: 0.5rem;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.05);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: max-content;
  min-width: 210px;
  height: 34px;
}
.input:hover {
  background-color: #f9fafb;
}
.input:focus {
  outline: 1px solid black;
}
.input--textarea {
  font-family: inherit;
  font-weight: normal;
  height: 245px;
  width: 440px;
  resize: none;
}

.cover {
  width: 210px;
}

.flex-column-20 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info {
  display: flex;
}
.info__image-container {
  border: 1px solid #d1d5db;
  padding: 20px;
  border-radius: 5px;
}
.info__image {
  display: block;
}
.info__description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.info__field {
  font-size: 18px;
  display: grid;
  grid-template-columns: 200px 1fr;
}
.info__field--desc {
  margin-top: 10px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.info__link:hover {
  color: #787878;
}

.footer {
  width: 100%;
  background-color: #a1a1a1;
}
.footer__nav {
  display: flex;
  justify-content: center;
  padding: 14px calc((100% - 960px) / 2);
}

body {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  position: relative;
  min-height: 100vh;
}

/*# sourceMappingURL=main.css.map */
