<%- include('../partials/pageTitle', { pageTitle: author.name }) %>
<div class="flex-column-20">
  <div class="buttons-wrapper">
    <a href="/authors/<%= author.id %>/edit" class="button">Edit</a>
    <%- include('../partials/deleteForm', { url: `/authors/${author.id}` }) %>
  </div> 
    <% if (booksByAuthor.length > 0) { %>
      <h3>Books by Author: </h3>
      <%- include('../partials/booksCards', { books: booksByAuthor }) %>
    <% } %>
  </div>
</div>
